:root{
  --main-background-color: white;
  --main-text-color: black;
  --secundary-background-color: black;
  --secundary-text-color: white;
  --shadow-color: black;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
}

h1{
    color: var(--secundary-text-color);
}

nav {
  display: flex;
  gap: 50px;
}

a{
  text-decoration: none;
}
 
nav a{ 
  color: var(--main-text-color);
  transition: all 1s;
}

nav a:hover{

  background: var(--secundary-background-color);
  color: var(--secundary-text-color);
}
nav a.active {
  text-decoration: line-through;
}

.hero-container {
  display: flex;
  height: 100vh;
}

.column-one,
.column-two {
  width: 50%;
}

.column-one {
  background: url("https://images.pexels.com/photos/2092041/pexels-photo-2092041.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.cards-container{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(36, 36, 36, 0.188) ;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover{
  box-shadow: 0 12px 20px 0 var(--shadow-color) ;


}

.card-image{
  width: 100%;
  border-radius: 5px 5px 0 0 ;
}

.card-text{
  padding: 10px 20px;
}

.footer{ 
  /* background: var(--shadow-color);
  color: var(--secundary-text-color); */
  text-align: center;
  /* padding: 15px 0; */
}

@media (width < 600px) {
  Header {
    flex-flow: column;
    color: var(--secundary-text-color);
    background: var(--shadow-color);
    padding-bottom: 10px;
  }

  .column-one{
    display: none;

  }
  .column-two{
    width: 100%;
    background: url("https://images.pexels.com/photos/2092041/pexels-photo-2092041.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--secundary-text-color);
  }
}

